body{
    background: #777;
}
.heart{
    position: relative;
    height: 160px;
    width: 100px;
    background: #d16ba5;
    margin: auto;
    border-radius: 200px 200px 0 0;
    transform: rotate(45deg);
}
.heart::before{
    content: '';
    position: absolute;
    height: 160px;
    width: 100px;
    background: #d16ba5;
    transform: rotate(-90deg);
    border-radius: 200px 200px 0 0;
    left: -30px;
    top: 30px;
}