*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.circle{
    transform-style: preserve-3d;
    animation: animate 8s linear infinite;
}
.circle .char{
    position: absolute;
    top: 0;
    left: 0;
    background: #343d40;
    color: #FFFFFF;
    font-size: 2em;
    padding: 10px 25px;
    border-top: 15px solid #32b1d1;
    border-bottom: 15px solid #32b1d1;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(250px);
}

@keyframes animate{
    0% {
        transform: perspective(500px) rotateY(360deg) rotateX(15deg);
    }
    100% {
        transform: perspective(500px) rotateY(0deg) rotateX(15deg);
    }
}