*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #ccd2eb;
}
.drops{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}
.drop{
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 46% 54% 62% 38% / 48% 16% 84% 52%;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                15px 25px 10px rgba(0,0,0,0.1),
                15px 20px 20px rgba(0,0,0,0.05),
                inset -10px -10px 25px rgba(255,255,255,0.9);
}
.drop::before{
    content:'';
    position: absolute;
    top: 25px;
    left: 35px;
    background: #f2fcff;
    width: 20px;
    height: 20px;
    border-radius: 37% 63% 42% 58% / 68% 32% 68% 32%;
}
.drop::after{
    content:'';
    position: absolute;
    top: 25px;
    left: 65px;
    background: #f2fcff;
    width: 10px;
    height: 10px;
    border-radius: 40% 60% 31% 69% / 52% 72% 28% 48%;
}
.drop:nth-child(2){
    transform: scale(0.7) translate(-150px, 150px);
    border-radius: 46% 54% 38% 62% / 56% 24% 76% 44%;
}
.drop:nth-child(3){
    transform: scale(0.5) translate(280px, -30px);
    border-radius: 46% 54% 38% 62% / 56% 24% 76% 44%;
}
.drop:nth-child(4){
    transform: scale(0.5) translate(120px,-250px);
    border-radius: 52% 48% 28% 72% / 81% 34% 66% 19%;
}