body{
    background: rgb(0,162,232);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sol{
    width: 250px;
    height: 250px;
    background: rgb(234,193,30);
    border-radius: 50%;
    top: 100px;
    position: absolute;
}
.nube{
    width: 300px;
    height: 300px;
    background: rgb(255,255,255);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 450px;
}
.nubecita{
    width: 400px;
    height: 200px;
    background: rgb(255,255,255);
    border-radius: 100px;
    position: absolute;
    top: 300px;
    
}